# Python -  Case Sensitive Language

# First class (05-02-2022)

#    Keyword 

- It have specific meanings and restrictions around how they should be used.
- Python keywords are special reserved words that have specific meanings and purposes and can’t be used for anything but those specific purposes

In [1]:
print ('Hello')

Hello

In [5]:
a = 10
print(a)

10

In [7]:
TRUE = "True value"
print(TRUE)

True value


- An example of something you can’t do with Python keywords is assign something to them. If you try, then you’ll get a SyntaxError

In [9]:
True = 10

SyntaxError: cannot assign to True (Temp/ipykernel_15504/2227483689.py, line 1)

In [10]:
5 < 3

False

## Identifier

-  The Python identifier is made with a combination of lowercase or uppercase letters, digits or an underscore.
-  An identifier cannot start with a digit. If we create an identifier that starts with a digit then we will get a syntax error. We also cannot use special symbols in the identifiers name

In [1]:
var_1 = 'First Variable'
print (var_1)

First Variable

## Python Statement
- A statement is an instruction that a Python interpreter can execute.
- Back slash will ignore

In [20]:
digit = 1 + 2 + 3 +\
5
print(digit)

11

In [22]:
a = 1
b =2 
c=3
print (a,b,c)

1 2 3

## Indendation
- ### Indentation in Python refers to the (spaces and tabs) that are used at the beginning of a statement. The statements with the same indentation belong to the same group called a suite.

In [24]:
list(range(1,8)) # end position = n-1

[1, 2, 3, 4, 5, 6, 7]

In [30]:
for i in range(1,8):
    print(i) # do part
    if(i == 5):
        break

1
2
3
4
5

In [31]:
for i in range(1,10): print(i)

1
2
3
4
5
6
7
8
9

In [32]:
if True: print ('True')

True

## Comment

- ### It has 2 types 
- #### sigle line comment
- #### Multi line comment

### Single line comment - It comes with print keyword and in the paranthesis there will be single or double quotational comment

In [3]:
# who are you?
print("I am an Software engineer")
print('I am an Analyst')
print('I am an data engineer')

I am an Software engineer
I am an Analyst
I am an data engineer

In [1]:
""" My baby is cute
she is very good girl
I love her"""

' My baby is cute\nshe is very good girl\nI love her'

## Multi line comment

- ### It doesn't need any print statement, it needs to be in the delimeter or three quotation mark

In [35]:
""" My first line of comment
My second line of comment
My third line of comment"""

' My first line of comment\nMy second line of comment\nMy third line of comment'

## Docstring
- ### It's a string used to document a Python module, class, function or method, so programmers can understand what it does without having to read the details of the implementation.
- ### It will be available or called via .Undrescore_doc_Underscore attribute.

In [42]:
def function1():
    """My first function to print the statement"""
    print('This is my first function')

In [43]:
function1( )

This is my first function

In [44]:
print(function1.__doc__)

My first function to print the statement

In [62]:
def addition_function(a, b):
    """Function to add two number"""
    return a + b

In [63]:
  addition_function(5, 12)

17

In [65]:
print(addition_function.__doc__)

Function to add two number

# Second class (06-02-2022)

### To know the keywords

In [2]:
import keyword

In [3]:
keyword.kwlist

['False',
 'None',
 'True',
 '__peg_parser__',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [8]:
from my_package import test_package

In [5]:
my_package_var = test_package.NAME
print(my_package_var)

PYTHON

In [6]:
import os

In [7]:
os.getcwd()

'C:\\Users\\Laksh\\Documents'

## List

In [8]:
list1= {1,'two',3.0}
print(list1)

{'two', 1, 3.0}

In [9]:
for i in list1:
    print(i)

two
1
3.0

## List Comprehension

In [7]:
list2 = [20, 5.3, 25, 7.5]
[a for a in list2]

[20, 5.3, 25, 7.5]

In [14]:
[a for a in list2 if a < 20]

[5.3, 7.5]

In [13]:
list2[2]

25

## print each value (exp), for each value in the list(for loop), if the each value is less than 20 (condition)

In [16]:
list(range(5))

[0, 1, 2, 3, 4]

In [19]:
list2[2]

25

In [21]:
power2 = [a**2 for a in range(11)]

In [37]:
list(range(11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [38]:
power2

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## Slicing

In [40]:
list3 = [1,2,3,4,5,6,7,8,9,10]

In [41]:
list3[0]

1

In [42]:
list3[2:5]

[3, 4, 5]

In [43]:
list3[-3]

8

# Data Types
- ## There are 4 types (List, Tuple, set, dictionary )

- ## List        - Dynamic sized array []    , Ordered   , changable (We can change the value )
- ## Tuple       - comes in rounded bracket(), ordered   , unchangable
- ## set         - comes in braces {}        , unordered , unchangable
- ## dictionary  - comes in {key:value}      , ordered   , changable

## list is mutable

- ### Lists are used to store multiple items in a single variable.
- ### form - list = [values]

In [44]:
list3[3] =14

In [45]:
list3

[1, 2, 3, 14, 5, 6, 7, 8, 9, 10]

## Tuple is immutable

- ### Tuples are used to store multiple items in a single variable.

- ### Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

- ### A tuple is a collection which is ordered and unchangeable.

- ### form- tuple(like variable) = (values)

In [47]:
a =(1, 2, 3, 4, 5)

In [50]:
a[2:6]

(3, 4, 5)

In [51]:
a[2] = 13

TypeError: 'tuple' object does not support item assignment

In [2]:
s = "This is a string"
print(s)
type(s)

This is a string

str

In [4]:
s[5:]

'is a string'

## Set - unordered
- ### form- set = {values}
- ### Sets are used to store multiple items in a single variable.
- ### A set is a collection which is unordered, unchangeable*, and unindexed.

In [43]:
set1 = {1, 2, 3, 4, 5}

In [56]:
type(set1)

set

In [57]:
set1[2]

TypeError: 'set' object is not subscriptable

In [58]:
set2= {1,1,1,1,1,1,2,2,2,2,2,4,3,3,3,3}

In [59]:
set2

{1, 2, 3, 4}

## Dictionary


- ### Dictionaries are used to store data values in key:value pairs.

- ### A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

#### form 
- #### dict = { Key : Value }

In [54]:
dict1 = {1: 'value1', 2:'value2', 3:'value3'}

In [7]:
type(dict1)

dict

In [58]:
dict1[1], dict1[2]

('value1', 'value2')

In [59]:
dict1[2]

'value2'

## Third class  (12-02-2022)

## Data type conversion

In [1]:
float(10)

10.0

In [2]:
int(10.5)

10

In [3]:
float('5.5')

5.5

In [4]:
str(20)

'20'

## Convention of sequesnces from one to another

In [44]:
set([1, 2, 5, 7, 7])

{1, 2, 5, 7}

In [8]:
list('LIST')

['L', 'I', 'S', 'T']

In [11]:
print(dict([["name", "John"], [10,50]]))

{'name': 'John', 10: 50}

## Type convertion

## There are 2 types
### * Implicit convertion
### * Explicit Convertion

In [23]:
int_var = 587
float_var = 55.7

conversion1 = int_var + float_var

print('datatype of int_var is:', type(int_var))
print('datatype of float_var is:', type(float_var))
print('The new value after conversion is:', conversion1)
print('Datatype of conversion1 is:', type(conversion1))

datatype of int_var is: <class 'int'>
datatype of float_var is: <class 'float'>
The new value after conversion is: 642.7
Datatype of conversion1 is: <class 'float'>

In [9]:
int_var = 587
string_var = float("55.7")

conversion1 = int_var + string_var

print('datatype of int_var is:', type(int_var))
print('datatype of srting_var is:', type(string_var))
print('The new value after conversion is:', conversion1)
print('Datatype of conversion1 is:', type(conversion1))

datatype of int_var is: <class 'int'>
datatype of srting_var is: <class 'float'>
The new value after conversion is: 642.7
Datatype of conversion1 is: <class 'float'>

In [29]:
int_var = 587
string_var = "55.7"

conversion1 = (int_var) + float(string_var)

print('datatype of int_var is:', type(int_var))
print('datatype of float_var is:', type(float_var))
print('The new value after conversion is:', conversion1)
print('Datatype of conversion1 is:', type(conversion1))

datatype of int_var is: <class 'int'>
datatype of float_var is: <class 'float'>
The new value after conversion is: 642.7
Datatype of conversion1 is: <class 'float'>

## Input

In [50]:
num = input('Enter the number: ')

add = float(num) + 50
print(add)

Enter the number: 20
70.0

In [1]:
a = eval('10*8')
print(a)

80

In [1]:
num = input('Enter the first number:')
num1= input('Enter the second number: ')

add = num + num1
print(add)

Enter the first number:1
Enter the second number: 5
15

## Operators

In [53]:
x = 5
y = 4

print(x + y)
print(x - y)
print(x * y)
print(x/y)
print(type(x//y))
print(x**y)
print(x%y)

9
1
20
1.25
<class 'int'>
625
1

In [8]:
round(2.7)

3

## Logical operators

In [13]:
x = True
y = False

print(x and y) #multiplication (dot operator - both condition has to be true)
print(x or y)  # Addition (Add operator any one of the condition to be true)
print(not x)

False
True
False

## Assignment operators

In [40]:
x1 = 15
y1 = 15

x2 = 'Hello'
y2 = 'Hello'

x3 = [15, 2, 3]
y3 = [15, 2, 3]

x4 = (1, 2, 3)
y4 = (1, 2, 3)

x5 = {1, 5, 8}
y5 = {1, 5, 8}

In [25]:
print(x1 is y1 )

True

In [18]:
print(x1 is not y1)

False

In [36]:
print(x2 is y2
    )

True

In [20]:
print(x3 is y3)

False

In [23]:
print(x4 is y4)

False

In [29]:
print(x5 is y5)

False

In [38]:
id(x1), id(y1) # id will provide the memory reference number

(2630354823920, 2630354823920)

In [37]:
id(x2), id(y2)

(2630432261296, 2630432261296)

id(x3), id(y3)

In [33]:
id(x4), id(y4)

(2630427603968, 2630427604544)

In [34]:
id(x5), id(y5)

(2630432906816, 2630432907040)

In [42]:
id(x3[0]), id(y3[0])

(2630354823920, 2630354823920)

## Membership operators

In [53]:
x ='Hello world'
y = {10: 'a', 15:'b' , 12:'1'}

In [55]:
y[12]

'1'

In [49]:
print('H' in x)

True

In [46]:
print('hello' not in x)

True

In [47]:
print(10 in y) # dict will only refer Key

True

In [49]:
print('a' in y) # dict will not refer value

False

## If statement

In [57]:
num = int(input('Enter the value'))
if num >= 0:
    print('Positive')
else:   
    print('Negative')

Enter the value5
Positive

## If else

In [4]:
num = int(input('Enter the value'))

if num >= 0:
    print('Positive')
elif num == 0:
    print('zero')
else:   
    print('Negative')

Enter the value0
Positive

## Nested if

In [59]:
num = int(input('Enter the value:'))

if num >0:
    if num == 0:
        print('Zero')
    else:
        print('Positive')
else:
    print('Negative')

Enter the value:0
Negative

## For loop

In [11]:
list = [1, 2, 3, 4, 5]

In [35]:
 del list

In [69]:
list1 = [5, 6, 8 , 10]

In [71]:
list1[3]

10

In [14]:
list[2]

3

In [15]:
list[0] =10

In [16]:
list

[10, 2, 3, 4, 5]

In [17]:
list([1, 52, 32])

TypeError: 'list' object is not callable

In [29]:
var_list = [5, 21, 63]

In [24]:
type(var_list)

list

In [36]:
list([5, 21, 63])

[5, 21, 63]

In [43]:
list1 = [12, 13, 14, 15]
add = 0

for i in list1:
    add = add + i
    print(add)
print('The final value of add is' , add)

12
25
39
54
The final value of add is 54

In [49]:
list1 = [12, 13, 14, 15]
add = 0
for i in list1:
    if i ==14:
        break
    print(i)

12
13

## Fourth class (13-02-2022)

In [3]:
list_city =['Chennai','kolkata','Mumbai']
len(list_city)

3

In [4]:
for i in range(len(list_city)):
    print('I like to go to: ', list_city[i])

I like to go to:  Chennai
I like to go to:  kolkata
I like to go to:  Mumbai

In [6]:
num =[1, 10, 100]

for i in num:
    print('I have' , i, 'days')
else:
    print('Else block')

I have 1 days
I have 10 days
I have 100 days
Else block

In [15]:
num =[1, 10, 100]

for i in num:
    if i==100:
        break
    print('the number is: ', i)    
    
else:  
    print('I have', i, 'days')

the number is:  1
the number is:  10


## While loop

In [75]:
num = int(input('enter the number'))

i= 0
sum_var = 0

while i < num:
    sum_var = sum_var + i
      print(i)
    i= i + 1
  

    
print('the sum of number is :' ,sum_var)

IndentationError: unexpected indent (Temp/ipykernel_13672/3056159168.py, line 8)

## Break, continue and pass

In [76]:
i = 0
sum_var = 0

while i < num:
    i = i + 1
else:
    print(i)

TypeError: '<' not supported between instances of 'int' and 'list'

In [9]:
for i in 'Country':
    if i == 'r':
        break
    print(i)

C
o
u
n
t

In [10]:
for i in 'Country':
    if i == 'r':
        continue
    print(i)

C
o
u
n
t
y

In [10]:
#pass statement explanation

list_var =['p', 'a', 's', 's']

for i in list_var:
    pass # add some logic later

## Functions

In [10]:
def greetings(name):
    """Function to greet some one"""
    print("Hello", name, "how're you")

In [11]:
greetings('guys')

Hello guys how're you

In [7]:
print(greetings.__doc__)

Function to greet some one

In [18]:
def absolute_val(value):
    """Funtion to reture the absolute value"""
    if value >0:
        return value
    else:
        return - value

In [20]:
absolute_val(-50)

50

In [25]:
def func():
    a=10 #local variable
    print('Inside the funtion', a)
a=20 #global variable
func()

print('outside the function', a)

Inside the funtion 10
outside the function 20

## Function arguments

### positional arguments

In [27]:
def greet(arg1, arg2):
    """ Function with arguments"""
    print(arg1, arg2, 'everyone!')

In [29]:
greet('Good','Evening')

Good Evening everyone!

### Default arguments

In [31]:
def greet(arg1, arg2 = "Good morning"):
    print("Hello",arg1,arg2)

In [32]:
greet('people')

Hello people Good morning

In [33]:
greet('people',"How are you")

Hello people How are you

In [36]:
def greet(arg2 =" Good Morning", arg1):
    print("hello", arg2, arg1)

SyntaxError: non-default argument follows default argument (Temp/ipykernel_5620/2419687821.py, line 1)

In [49]:
def greet(arg2 =" Good Morning", arg1):
    print("hello", arg2)

SyntaxError: non-default argument follows default argument (Temp/ipykernel_5620/3991349332.py, line 1)

## Keyword Arguments

In [39]:
greet(arg1 = "Hi", arg2 ="Everyone")
greet(arg2 = "everyone", arg1 ="Hi")
greet("Hi", arg2 ="Everyone")

Hello Hi Everyone
Hello Hi everyone
Hello Hi Everyone

In [53]:
greet("Hi", "Everyone")

arg1 Hi

 ## Recursion

In [ ]:
factorial of a number
5!

In [59]:
5 * 4 * 3 * 2 * 1

120

In [66]:
def recursion(x):
    if x == 1:
        return x
    else:
        return (x * recursion(x-1))
x = 5
print('Factorial of', x, 'is', recursion(x))

Factorial of 5 is 120

## Lambda Function - Anonymous funtion

In [68]:
cube = lambda x : x * x * x
cube(2)

8

In [70]:
cube = lambda x, y : (x* x * x) /(y) 
cube(10,2)

500.0

## Filter

- Filter takes in a funtion and a list of argument
- The function is called with the items in the list, and a new list is returned containing the items for which the functions evalutes to True

In [77]:
my_list = list(range(10))
print(my_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [79]:
fil = list(filter(lambda x :x % 2 == 0, my_list))
print('Applyting the filter operation:',fil)

Applyting the filter operation: [0, 2, 4, 6, 8]

## Map

- Filter takes in a funtion and a list of argumenent
- Every items in the list will be returned based on the funtion that we're performing

In [89]:
my_list = [1, 5, 4, 6, 8, 11, 3, 12]
new_list = list(map(lambda x: x * 2, my_list))
print(new_list)

[2, 10, 8, 12, 16, 22, 6, 24]

In [2]:
fill1 = list(map(lambda x : x.upper(),['a','b','c']))
print(fill1)

['A', 'B', 'C']

In [3]:
my_dict = {10: 'B', 20: 'A', 30: 'A', 40: 'B', 50: 'A'}  
filt1 = list((filter(lambda x : x > 10,my_dict)))
print(filt1)

[20, 30, 40, 50]

In [5]:
def fun(var):
    letters = ['a', 'e', 'i', 'o', 'u']
    if (var in letters):
        return True
    else:
        return False
seq = ['a', 'b', 'c', 'd', 'e']
fil = list(filter(fun,seq))
print (fil)

['a', 'e']

## Fifth class (19-02-2022)

## Global Variables

In [3]:
c = "Global Variable"

def function1():
    print('Inside the function: ', c)
function1()
print('outside the function:', c)

Inside the function:  Global Variable
outside the function: Global Variable

In [6]:
def function2():
    local_var ="Inside"
    print(local_var)
    
function2()
local_var

Inside

NameError: name 'local_var' is not defined

## Local and global in same code

In [17]:
var = 20

def glob_var_eg():
    y = 10
    global var
    var = var * 5
    print(' This is my local variable:' , y)
    print(' This is my local variable:' , var)
var1 =10
def glob_var1_eg():
    y = 100
    global var1
    var1 = var1 * 10
    print(' This is my local variable:' , y)
    print(' This is my local variable:' , var1)

In [8]:
glob_var_eg()

 This is my local variable: 10
 This is my local variable: 100

In [9]:
var

100

In [18]:
glob_var1_eg()

 This is my local variable: 100
 This is my local variable: 100

In [19]:
var1

100

## Nested indexing

In [20]:
nested_list =[1,2,[3,4],['five', 'six', 'seven']]
nested_list

[1, 2, [3, 4], ['five', 'six', 'seven']]

In [27]:
nested_list[3][2]

'seven'

In [25]:
nested_list[-2][-2]

3

## Append and extend

In [32]:
list_1 = [5,4,3]
list_1.append(7) # append is helping to add some value
print(list_1)

[5, 4, 3, 7]

In [33]:
list_1.extend([8,5,9]) # extend is helping to add some sets
print(list_1)

[5, 4, 3, 7, 8, 5, 9]

In [34]:
var =15

list_1.insert(0, var)
print(list_1)

[15, 5, 4, 3, 7, 8, 5, 9]

## List concatenation

In [36]:
list1 = [1,3,5]
print(list1 +[9,7,6])

[1, 3, 5, 9, 7, 6]

In [35]:
print(['five']*5)

['five', 'five', 'five', 'five', 'five']

## Remove and pop

In [48]:
string = 'DataScience'
list(string)

['D', 'a', 't', 'a', 'S', 'c', 'i', 'e', 'n', 'c', 'e']

In [49]:
list1 =list(string)

In [50]:
list1.remove('S')

In [51]:
list1.pop()

'e'

In [52]:
list1

['D', 'a', 't', 'a', 'c', 'i', 'e', 'n', 'c']

In [53]:
print(list1.index('i')) # index defines the position

5

In [55]:
print(list1.count('a'))

2

In [61]:
list_1 = []
for i in range(10):
    list_1.append(i**2)
print (list_1)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [63]:
[i**2 for i in range(10)] # list comprehension

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [64]:
[i for i in range(100) if i%2==0 and i%5==0]

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [65]:
["EVEN" if i%2==0 else "ODD" for i in range(10)]

['EVEN', 'ODD', 'EVEN', 'ODD', 'EVEN', 'ODD', 'EVEN', 'ODD', 'EVEN', 'ODD']

## Enumeratem - it will provide not only the list it will also provide the index

In [67]:
x1 = ['Data', 'Function', 'stats']
list(enumerate(x1))

[(0, 'Data'), (1, 'Function'), (2, 'stats')]

## Tuple operations

In [69]:
tuple1 = 3,5.5,'nine'
print(tuple1)

(3, 5.5, 'nine')

In [70]:
type(tuple1)

tuple

## Tuple unpacking

In [73]:
a,b,c = tuple1
print(a)
print(b)
print(c)

3
5.5
nine

In [74]:
tuple2 = ('tuple') # 
type(tuple2)

str

In [75]:
string_va ='string'
type(string_va)

str

In [77]:
tuple2 = 'tuple' ,

type(tuple2)

tuple

## Changing a tuple - if tuple contains a list, then tuple can changable

In [87]:
tupl1  = (1,2[1,2,3])
tupl1[2][0] = 2
tupl1

<>:1: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?
<>:1: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?
C:\Users\Laksh\AppData\Local\Temp/ipykernel_14632/611508413.py:1: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?
  tupl1  = (1,2[1,2,3])

TypeError: 'int' object is not subscriptable

## A "set"of mixed data types

- We can add set in the set but list cannot be add

In [88]:
my_set1 = {1.0, "Hey", (2,5,8)}
print(my_set1)

{1.0, 'Hey', (2, 5, 8)}

In [92]:
my_set2 = {1.0, "Hello", [2,5,8]}
print(my_set2)

TypeError: unhashable type: 'list'

In [100]:
my_set = {1,8,9,4,0,10}
print(my_set)

my_set.discard(3) # discard will check even if it's not in set it will show the output 
print(my_set)

my_set.remove(4)
print(my_set)

{0, 1, 4, 8, 9, 10}
{0, 1, 4, 8, 9, 10}
{0, 1, 8, 9, 10}

## Iterators

- It has memory it will store the memory

In [106]:
my_list = [2,9,8,3]
my_iter = iter(my_list)
print(next(my_iter))

2

In [107]:
print(next(my_iter))

9

In [108]:
print(next(my_iter))

8

In [109]:
print(next(my_iter))

3

In [110]:
print(next(my_iter))

StopIteration:

In [111]:
my_list = [2, 9, 8, 3]

my_iter = iter(my_list)

for i in range(len(my_list)):
    print(next(my_iter))

2
9
8
3

## Sixth class (20-02-2022)

In [3]:
def function1(*var):
    for i in var:
        print("I am in, :", i)

In [4]:
function1('Chennai','Hyderabad','Mumbai')

I am in, : Chennai
I am in, : Hyderabad
I am in, : Mumbai

## Generators

In [ ]:
#yield

In [17]:
def generator_fun():
    num = 1
    print('The first number:, ')
    yield num
    num += 1 
    print('The second number')
    yield num
    num += 1
    print('The third number')
    yield num

In [18]:
generator_fun()

In [19]:
var1 = generator_fun()

In [21]:
next(var1)

The second number

2

In [22]:
next(var1)

The third number

3

In [25]:
def generate_function(string):
    for i in range(len(string)-1,0,-1):
        print(string[i])
        yield string[i]
string = 'Data Science'
var2 = generate_function(string)
next(var2)

e

'e'

In [26]:
def generator_func5(arg):
  ##  arg_len = len(arg)
    for i in range(len(arg)-1,0,-1):
        print(arg[i])
        yield i
var3 = generator_func5('DATASCIENCE')
next(var3)

E

10

In [27]:
next(var3)

C

9


## range (start,stop,step)

In [35]:


def rev_str(my_str):
    length = len(my_str)
    for i in range(length - 1, -1, -1): #reverse order
        yield my_str[i]

In [36]:
my_str = "DataScience"
for char in rev_str(my_str):
    print(char)

e
c
n
e
i
c
S
a
t
a
D

## Generator Expression

In [20]:
list1 = [2, 4, 5,10 ]

In [21]:
[i**3 for i in list1]

[8, 64, 125, 1000]

In [40]:
(i*i for i in list1)

In [15]:
gen_var = (i**3 for i in list1)

In [16]:
print(next(gen_var))
print(next(gen_var))
print(next(gen_var))
print(next(gen_var))

8
64
125
1000

In [23]:
max(i**3 for i in list1)

1000

In [24]:
min(i**3 for i in list1)

8

## Closures

In [10]:
def outer_fun(arg):
    def inner_fun():
        var1 = arg * 5
        print(var1)
    inner_fun()

In [11]:
outer_fun(20)

100

In [12]:
def outer_fun(arg):
    var3 = 5
    def inner_fun():
        var1 = arg * 5 + var3
        var2 = 5
        print(var2)
        return var2
    return inner_fun()

In [13]:
outer_fun(10)

5

5

In [15]:
def outer_fun(arg):
    def inner_fun():
        var1 = arg * 5
        print(var1)
    return inner_fun()

In [16]:
outer_fun(50)

250

In [17]:
fun_ret = outer_fun(50)

250

## Decorators

In [19]:
def funct1():
    print('Print function 1')
funct1()

Print function 1

In [20]:
funct2 = funct1
funct2()

Print function 1

In [21]:
def square(a):
    return a*a

def cube(c):
    return c*c*c

def calculation(function, val):
    result = function(val)
    return result

In [22]:
calculation(square, 4)

16

In [23]:
calculation(cube, 3)

27

In [28]:
def is_called():
    def is_returned():
        print('Nested function is returned')
    return is_returned

In [29]:
fn= is_called()
fn()

Nested function is returned

In [33]:
def decorating_fun(fn):
    def nested_fn():
        fn()
        print('This is decorated now')
    return nested_fn      
def ordinary_fn():
    print('This is an ordinary function')
              
deco = decorating_fun(ordinary_fn)
deco()

This is an ordinary function
This is decorated now

In [36]:
@decorating_fun
def ordinary_fn():
    print('This is an ordinary function')

In [38]:
def ordinary_fn():
    print('This is an ordinary function')

ordinary_fn = decorating_fun(ordinary_fn)

In [39]:
def decorating_fn(func):
    def nested_fn(a,b):
        print('dividing' , a, 'and' , b)
        if b == 0:
            print('can not divide')
            return
        return func (a, b)
    return nested_fn

In [42]:
@decorating_fn # place the decorating function on top of the function that needs to be decorated
def ordinary_fn(a,b):
    return a/b

In [44]:
ordinary_fn(64, 8)

dividing 64 and 8

8.0